<div layout="{{:: vm.options.layout || 'row'}}"
        layout-sm="column"
        layout-xs="column">
  <label class="filter-label"
          layout="row"
          ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div flex="100"
          layout="row">
    <md-autocomplete
            md-selected-item="__MODEL__"
            md-autofocus="false"
            md-autoselect="false"
            md-no-cache="true"
            md-min-length="0"
            md-item-text="item.fullName || item.name"
            md-search-text="vm.tmpFields[fieldKey]"
            md-items="item in vm.querySearch(field.options, vm.tmpFields[fieldKey])"
            placeholder="{{::field.placeholder | translate}}">
      <md-item-template>{{item.fullName || item.name}}</md-item-template>
    </md-autocomplete>
  </div>
</div>
