<md-button class="bm-btn {{::field.class}}"
  ng-if="!field.columnMode"
  ng-disabled="field.disabled()"
  ng-click="field.action()">{{::field.btnLabel | translate}}
</md-button>

<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column"
  ng-if="field.columnMode">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div flex="100"
    layout="row"
    layout-align="start center">
    <md-button class="bm-btn {{::field.class}}"
      ng-disabled="field.disabled()"
      ng-click="field.action()"
      layout="row">{{::field.btnLabel | translate}}
    </md-button>
    <md-progress-circular md-mode="indeterminate"
      md-diameter="40"
      ng-if="field.loading()"
      layout="row"></md-progress-circular>
  </div>
</div>



