<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div layout="column"
    class="chart-section"
    flex="100">
    <div class="avoid-flex">
      <highchart config="field.config"></highchart>
    </div>
  </div>
</div>
