<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label)}}</label>

  <div layout="row"
    flex="100">
    <md-checkbox ng-model="__MODEL__"
      aria-label="check"
      ng-if="!field.options"
      ng-required="{{::field.required}}"
      ng-disabled="field.disabled"
      name="{{::field.name}}">
      <span ng-bind-html="::field.label"></span>
    </md-checkbox>

    <md-checkbox
      aria-label="check"
      ng-if="field.options"
      ng-repeat="item in field.options"
      ng-required="{{::field.required}}"
      ng-disabled="item.disabled"
      ng-checked="vm.checkboxExists(item, __MODEL__)"
      ng-click="vm.checkboxToggle(item, __MODEL__)"
      name="{{::item.name}}">
      <span ng-bind-html="::item.label"></span>
    </md-checkbox>

  </div>
</div>
