<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <ob-daypicker class="{{::field.class}}"
    layout="row"
    flex="100"
    selected-day="__MODEL__"
    min-day="field.minDay"
    on-apply="field.changeDateRange(day)"></ob-daypicker>

</div>