<div layout="{{:: $ctrl.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
<md-input-container flex class="md-block">
  <label     
    layout="row"
    for="{{::field.name}}_{{::$index}}"
    ng-if="::!field.hideLabel">
    {{field.label}}
  </label>

  <input 
    type="{{$parent.field.type}}"
    layout="row"
    name="{{::field.name}}"
    ng-required="{{::field.required}}"    
    ng-blur="field.onBlur($ctrl.vmodel[field.name], dynamicForm)"
    id="{{::field.name}}_{{::$index}}"
    ng-model="__MODEL__"
    ng-disabled="field.disabled"
    min="0"
    step="{{::field.step || 1}}"
    ng-minlength="{{:: field.min || 0}}"
    ng-maxlength="{{field.max}}"
    />     
    <div ng-messages="__VALIDATION__.$error">       
      <div ng-messages-include="errors-messages.html"></div>
  </div>   
</md-input-container>

</div>

<!-- 
<div layout="{{:: $ctrl.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  
  <label class="input-label"
    layout="row"
    for="{{::field.name}}_{{::$index}}"
    ng-if="::!field.hideLabel">
    {{field.label && (field.label)}}</label>

  <div layout="column"
    flex="100">
    <input type="{{$parent.field.type}}"
      layout="row"
      name="{{::field.name}}"
      ng-required="{{::field.required}}"
      class="form-control {{::field.class}}"
      ng-blur="field.onBlur($ctrl.vmodel[field.name], dynamicForm)"
      id="{{::field.name}}_{{::$index}}"
      ng-model="__MODEL__"
      ng-disabled="field.disabled"
      min="0"
      step="{{::field.step || 1}}"
      ng-min="{{:: field.min || 0}}"
      ng-max="{{field.max}}"
      placeholder="{{::field.placeholder && (field.placeholder)}}">

    <div ng-if="__VALIDATION__.$invalid && !__VALIDATION__.$pristine && field.error"
      layout="row"
      class="form-error">{{:: field.error : {vars: field.errorVars || []} }}
    </div>
  </div>
</div>

 -->