<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{field.label && (field.label | translate)}}</label>

  <div layout="column"
    flex="100">
    <input-phone
      layout="row"
      model="__MODEL__"
      class="form-control {{::field.class}}">
    </input-phone>

    <div ng-if="__VALIDATION__.$invalid && !__VALIDATION__.$pristine && field.error"
      layout="row"
      class="form-error">{{:: field.error | translate : {vars: field.errorVars || []} }}
    </div>
  </div>
</div>
