<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>
  <div layout="row"
    flex="100">

    <md-radio-group ng-model="__MODEL__"
      ng-required="{{::field.required}}"
      ng-disabled="field.disabled"
      class="{{::field.class}}">
      <md-radio-button ng-repeat="option in field.options track by $index"
        class="{{::option.class}}"
        ng-disabled="option.disabled || field.disabled"
        value="{{::option.value}}">{{::option.label | translate}}
      </md-radio-button>
    </md-radio-group>
  </div>
</div>
