<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div layout="row"
    layout-sm="column"
    layout-xs="column"
    flex="100">
    <md-button class="radius-box"
      md-ink=""
      layout="row"
      ng-disabled="::option.disabled"
      ng-click="__MODEL__ = option.value"
      ng-repeat="option in field.options"
      ng-class="{'active': __MODEL__ === option.value}">
      <h2 class="box-title">
        <md-icon ng-if="option.icon">{{::option.icon}}</md-icon>
        {{::option.label | translate}}
      </h2>
      <span class="box-subtitle"
        ng-if="option.subtitle">{{::option.subtitle | translate}}</span>
    </md-button>
  </div>
</div>