<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div layout="row"
    flex="100">

    <md-select placeholder="{{::field.placeholder && (field.placeholder | translate)}}"
      ng-required="{{::field.required}}"
      ng-model="__MODEL__"
      ng-disabled="field.disabled"
      md-on-open="vm.async(field)"
      class="{{::field.class}}"
      aria-label="{{::option.label || option.name}}">
      <md-option ng-value="vm.calculateSelectValue(field, option)"
        ng-disabled="option.disabled"
        ng-repeat="option in field.options">{{:: vm.calculateSelectName(field, option)}}
      </md-option>
    </md-select>
  </div>
</div>
