<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  

  <div layout="row"
    flex="100">
    <md-input-container class="md-block flex-100">
        <label class="{{field.labelClass}}"
        for="{{field.name}}"        
        ng-if="::!field.hideLabel">
        {{::field.label && (field.label)}}</label>
    <md-select placeholder="{{::field.placeholder && (field.placeholder)}}"
      ng-required="{{::field.required}}"
      ng-model="__MODEL__"
      ng-disabled="field.disabled"
      md-on-close="field.onClose(__MODEL__, dynamicForm)"
      class="{{::field.class}}"      
      name="{{field.name}}"
      id="{{field.name}}">
      <md-option ng-value="option" 
        ng-disabled="option.disabled"
        ng-repeat="option in field.options"
        ng-selected="option.selected"
        ng-click="field.onChange(option)">{{option.value}}
        
      </md-option>   
    </md-select>
    <div ng-messages="__VALIDATION__.$error">  
        <div ng-messages-include="errors-messages.html"></div>
    </div>   
    </md-input-container>
  </div>
</div>
<!-- 

<div flex="100">
    <md-input-container class="md-block" style="margin-top: 1.30rem">
        <label>Opciones</label>
        <md-select ng-change="selectForm()" ng-model="formSelected" name="formSelected" required>
            <md-optgroup label="Todos">
                <md-option ng-repeat="form in forms" ng-value="form">{{ form.name }}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
</div> -->