<span ng-bind-html="field.text | translate : {vars: [field.suggested]}"></span>
<span> | </span>
<md-button ng-click="field.action(field.suggested)"
  class="bm-btn link">{{:: field.btnText | translate }}
</md-button>