<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div flex="100"
    layout="row">

    <md-switch ng-model="__MODEL__"
      aria-label="switch">
      <span ng-if="::!field.customLabel">
        {{ ( 'shared.form.' + (__MODEL__ ? 'enabled' : 'disabled' )) | translate }}
      </span>
      <span ng-if="::field.customLabel">
        {{ ( field.customLabel + (__MODEL__ ? '.enabled' : '.disabled' )) | translate }}
      </span>
    </md-switch>
  </div>
</div>
