<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>
  <div layout="column"
    class="textarea-section"
    flex="100">
    <textarea
      ng-if="!field.highlight"
      rows="{{:: field.rows || 5}}"
      class="{{::field.class}}"
      ng-model="__MODEL__"
      placeholder="{{::field.placeholder | translate}}"
    >
    </textarea>
    <textarea
      ng-if="!!field.highlight"
      rows="{{:: field.rows || 5}}"
      class="{{::field.class}}"
      ng-model="__MODEL__"
      placeholder="{{::field.placeholder | translate}}"
      highlight="field.highlightFormat"
      highlight-onchange="field.highlightOnChange($markers)"
    >
    </textarea>
    <span class="textarea-text"
      layout="row"
      ng-if="field.subText">{{field.subText()}}</span>
    <span class="textarea-text error"
      layout="row"
      ng-repeat="error in field.errorsText"
      ng-if="field.errorsText">{{error | translate}}</span>
  </div>
</div>
