<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div layout="row"
    flex="100">
    <span class="text {{::field.class}}"
      ng-if="!field.custom"
      ng-bind-html=":: (field.content || field.label) | translate"></span>

    <span class="text {{::field.class}}"
      ng-if="field.model">{{__MODEL__}}</span>

    <span class="text {{::field.class}}"
      ng-if="field.text">{{field.text()}}</span>
  </div>
</div>
