<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div layout="row"
    layout-sm="column"
    layout-xs="column"
    flex="100"
    class="toggle-chips">
    <div class="bm-btn-group toggle-buttons"
      layout-align="start start"
      layout="row">
      <md-button class="bm-btn default slim"
        ng-click="__MODEL__['type'] = option.slug"
        ng-repeat="option in field.toggle.options"
        ng-class="{'active': __MODEL__['type'] === option.slug}">
        {{::option.label | translate}}
      </md-button>
    </div>
    <md-chips ng-model="__MODEL__['options']"
      layout-align="start start"
      layout="row"
      flex="100"
      md-autocomplete-snap="true"
      md-require-match="true"
      md-on-add="vm.mdOnAdd()"
      readonly="field.readonly">
      <md-autocomplete
        md-autofocus="false"
        md-autoselect="false"
        md-no-cache="true"
        md-min-length="0"
        md-item-text="item.name"
        md-search-text="vm.tmpFields[fieldKey]"
        md-items="item in vm.querySearch(field.chips.options, vm.tmpFields[fieldKey], __MODEL__['options'])"
        placeholder="{{::field.chips.placeholder | translate }}">
        <md-item-template>{{item.name}}</md-item-template>
      </md-autocomplete>
      <md-chip-template><span class="chip-text">{{$chip.name}}</span></md-chip-template>
    </md-chips>
  </div>
</div>