<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    layout="row"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div class="bm-btn-group toggle-buttons"
    layout="row"
    flex="100">
    <md-button class="bm-btn slim default"
      ng-click="__MODEL__ = option.slug"
      ng-repeat="option in field.options"
      ng-disabled="option.disabled"
      ng-class="{'active': __MODEL__ === option.slug}">
      {{::option.label | translate}}
    </md-button>
  </div>
</div>