<div layout="{{:: vm.options.layout || 'row'}}"
  layout-sm="column"
  layout-xs="column">
  <label class="input-label"
    ng-if="::!field.hideLabel">
    {{::field.label && (field.label | translate)}}</label>

  <div class="toggle-textarea"
    flex="100"
    layout="row"
    layout-sm="column"
    layout-xs="column">
    <div class="bm-btn-group toggle-buttons"
      layout="row"
      layout-align="start start">
      <md-button class="bm-btn slim default"
        ng-click="__MODEL__['type'] = option.slug"
        ng-repeat="option in field.toggle.options"
        ng-class="{'active': __MODEL__['type'] === option.slug}">
        {{::option.label | translate}}
      </md-button>
    </div>

    <div layout="column"
      class="textarea-section"
      flex="100"
      layout-align="start start">
    <textarea rows="{{:: field.rows || 5}}"
      layout="row"
      class="{{::field.textarea.class}}"
      ng-model="__MODEL__['options']"
      placeholder="{{::field.textarea.placeholder | translate}}">
    </textarea>
    <span class="textarea-text"
      layout="row"
      ng-if="field.text">{{field.text()}}</span>
    </div>
  </div>
</div>