<md-toolbar class="inset-toolbar {{::field.blockClass}}">
  <div class="md-toolbar-tools"
    layout="row"
    layout-xs="column">
    <p><span>{{ :: field.label | translate}}</span></p>
    <small ng-if="field.subtitle">{{ :: field.subtitle | translate}}</small>
    <span flex></span>
    <md-button ng-if="::field.button"
      ng-click="::field.button.onClick()"
      ng-disabled="field.disabled"
      class="{{::field.button.class}}">{{::field.button.label | translate}}
    </md-button>
  </div>
</md-toolbar>
