<div ng-if="$ctrl.count === $ctrl.countFileds ">
    <form ng-submit="$ctrl.submit()" name="dynamicForm" class="{{$ctrl.form.options.class}}">
        <div class="{{$ctrl.form.options.blockClass}} row">
            <div ng-repeat="(fieldKey, field) in $ctrl.form.fields" class="{{field.blockClass}}" flex="{{field.fsize}}" >
                <ng-include onload="modelForm = $ctrl.model " src="(field.element + '_' + fieldKey + '_' + $ctrl.formID)" flex="100"></ng-include>
                <div class="tooltip-zone" layout="row" layout-align="center center" ng-if="$ctrl.options.globalTooltips && field.element !== 'toolbar'">
                    <div ng-if="field.tooltip">
                        <md-icon>info_outline</md-icon>
                        <md-tooltip md-direction="{{field.tooltipDirection || left }}">
                            <span ng-bind-html="field.tooltip"></span>
                        </md-tooltip>
                    </div>
                </div>
            </div>
        </div>


        <!--   <div ng-if="$ctrl.showErrorsList(dynamicForm)" class="display-errors">
            <h2 class="error-title">
                <md-icon>error</md-icon>
                <span>{{:: 'dynamicForm.displayErrorsTitle'}}</span>
            </h2>
            <ul class="error-list">
                <li ng-repeat="error in dynamicForm.$error.required">
                    <span>{{:: $ctrl.findErrorTranslation(error.$name) }}</span>
                    <span ng-click="$ctrl.scrollToElement(error.$name)" class="error-link">{{:: 'dynamicForm.goToError' }}</span>
                </li>
            </ul>
        </div> -->

        <div ng-if="$ctrl.form.options.btnsHiden" class="btn-zone {{$ctrl.form.options.btnClass}}">
            <button type="submit" class="hide" ng-if="$ctrl.optionsSubmit"></button>
            <md-button ng-repeat="button in $ctrl.form.options.buttons" type="button" ng-if="!button.hide()" ng-disabled="button.customDisabled ? button.customDisabled() : dynamicForm[button.disabled]"
                class="{{button.class || 'btn'}}" ng-click="$ctrl.buttonAction(button)">{{button.label}}
            </md-button>
        </div>
    </form>
</div>