<div ng-if="forms" class="col-md-12 proff-form-seccion">
  <div class="proff-form-seccion titulo"></div>
  <div flex="100" class="flex flex-col">
      <component-dynamic-forms form="forms" model="modelForm"></component-dynamic-forms>
  </div>
</div>




